.section-hero,
.hero-container {
  min-height: 90vh;
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 2rem 0;  
}
.hero-section {
  flex: 1 0 300px;
}
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.hero-text p {
  margin: 0;
  text-wrap: balance;
}

.hero-title-wave {
  background: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-primary-light),
    var(--color-secondary),
    var(--color-secondary-light),
    var(--color-primary)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradientWave 4s linear infinite;
}

@keyframes gradientWave {
  0% {background-position:0%}
  100% {background-position:400%}
}
.hero-image {
  animation: float 3s ease-in-out infinite alternate both;
}
@keyframes float {
  0% { 
    transform: translateY(0px);
  }
  50% { 
    transform: translateY(-10px);

  }
  100% { 
    transform: translateY(0px);
  }
}